.main{
    border: 10px solid blueviolet;
    background-color: yellow;
    position: relative;
    width: 1220px;
    height: 608px;
}
body{
    
}
img{
    height: 200px;
    width: 200px;
    border: 5px solid red;
}
.b1{
    height: 600px;
    width: 600px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.b2{
    position: absolute;
    top: 0px;
    left: 605px;
}
.b3{
    position: absolute;
    left: 605px;
    top: 205px;
}
.b4{
    left: 605px;
    top: 400px;
    position: absolute;

}
.b5{
    left: 810px;
    top: 100px;
    position: absolute;
    width: 400px;
    height: 400px;

}
